USE [master]
GO
/****** Object:  Database [TeachManageSystem]    Script Date: 2022/8/25 17:58:52 ******/
CREATE DATABASE [TeachManageSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TeachManageSystem', FILENAME = N'E:\1浏览器下载\asp.net高校考务管理系统\asp.net高校考务管理系统\系统源码\TeachManageSystem\WebUI\App_Data\TeachManageSystem.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TeachManageSystem_log', FILENAME = N'E:\1浏览器下载\asp.net高校考务管理系统\asp.net高校考务管理系统\系统源码\TeachManageSystem\WebUI\App_Data\TeachManageSystem_log.ldf' , SIZE = 4672KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TeachManageSystem].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [TeachManageSystem]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2022/8/25 17:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ZhangHao] [nvarchar](255) NULL,
	[MiMa] [nvarchar](255) NULL,
	[ChuangJianRen] [nvarchar](255) NULL,
	[ChuangJianShiJian] [datetime] NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BanJi]    Script Date: 2022/8/25 17:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanJi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ZhuanYeID] [smallint] NULL,
	[BanJiName] [nvarchar](255) NULL,
 CONSTRAINT [PK_BanJi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KaoChang]    Script Date: 2022/8/25 17:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KaoChang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KaoChangDaiMa] [nvarchar](255) NULL,
	[KaiShiShiJian] [datetime] NULL,
	[JieSuShiJian] [datetime] NULL,
	[DiDian] [nvarchar](255) NULL,
	[RenShu] [nvarchar](255) NULL,
	[KaoShiKeMu] [nvarchar](255) NULL,
	[JianKaoJiaoShi] [nvarchar](255) NULL,
 CONSTRAINT [PK_KaoChang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KeCheng]    Script Date: 2022/8/25 17:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeCheng](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KeChengName] [nvarchar](255) NULL,
	[YuanXi] [nvarchar](255) NULL,
	[ZhuanYe] [nvarchar](255) NULL,
	[BanJi] [nvarchar](255) NULL,
	[ShouKeRen] [nvarchar](255) NULL,
	[ShouKeRenID] [int] NULL,
 CONSTRAINT [PK_KeCheng] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KeChengBiao]    Script Date: 2022/8/25 17:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeChengBiao](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KeChengName] [nvarchar](255) NULL,
	[XueHao] [nvarchar](255) NULL,
	[YanSe] [nvarchar](255) NULL,
	[LieBianHao] [nvarchar](255) NULL,
	[KeChengBianHao] [nvarchar](255) NULL,
 CONSTRAINT [PK_KeChengBiao] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 2022/8/25 17:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KaoChangDaiMa] [nvarchar](255) NULL,
	[KaoChang] [nvarchar](255) NULL,
	[ZhunKaoZhengHao] [nvarchar](255) NULL,
	[XueHao] [nvarchar](255) NULL,
	[XingMing] [nvarchar](255) NULL,
	[XingBie] [nvarchar](255) NULL,
	[NianLing] [smallint] NULL,
	[MiMa] [nvarchar](255) NULL,
	[YuanXi] [nvarchar](255) NULL,
	[ZhuanYe] [nvarchar](255) NULL,
	[BanJi] [nvarchar](255) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 2022/8/25 17:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JiaoShiBianHao] [nvarchar](255) NULL,
	[JiaoShiName] [nvarchar](255) NULL,
	[YuanXi] [nvarchar](255) NULL,
	[ZhuanYe] [nvarchar](255) NULL,
	[BanJi] [nvarchar](255) NULL,
 CONSTRAINT [PK_Teachers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XiBie]    Script Date: 2022/8/25 17:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XiBie](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[XiBieName] [nvarchar](255) NULL,
 CONSTRAINT [PK_XiBie] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZhuanYe]    Script Date: 2022/8/25 17:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZhuanYe](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[XiBieID] [int] NULL,
	[ZhuanYeName] [nvarchar](255) NULL,
 CONSTRAINT [PK_ZhuanYe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [ID]    Script Date: 2022/8/25 17:58:52 ******/
CREATE NONCLUSTERED INDEX [ID] ON [dbo].[Admin]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [BanJiID]    Script Date: 2022/8/25 17:58:52 ******/
CREATE NONCLUSTERED INDEX [BanJiID] ON [dbo].[BanJi]
(
	[ZhuanYeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ID]    Script Date: 2022/8/25 17:58:52 ******/
CREATE NONCLUSTERED INDEX [ID] ON [dbo].[KaoChang]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ID]    Script Date: 2022/8/25 17:58:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ID] ON [dbo].[KeCheng]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ShouKeRenID]    Script Date: 2022/8/25 17:58:52 ******/
CREATE NONCLUSTERED INDEX [ShouKeRenID] ON [dbo].[KeCheng]
(
	[ShouKeRenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ID]    Script Date: 2022/8/25 17:58:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ID] ON [dbo].[ZhuanYe]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [XiBieID]    Script Date: 2022/8/25 17:58:52 ******/
CREATE NONCLUSTERED INDEX [XiBieID] ON [dbo].[ZhuanYe]
(
	[XiBieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
